body {
			background-color: rgb(152, 221, 230);
		}	
		#Middle{
			background-color: white;
			width: 1200px;
			text-align: center;
			border-style: solid;
			border-width: 4px;
			margin: auto;
		}

		.Title{
			color: black;
			font-family: serif;
			font-size: 30px;			
		}
		#Header{
			font-family: sans-serif;
		}
		#Links{
			font-family:sans-serif;
			border-style:dashed;
			border-color:black;
			border-width:5px;
			margin:0 auto;
		}
		table, th, td{
			border: 3px solid black;
			margin: 0 auto;
		}
		td{
			width:200px;
		}